# BoostForge desktop app — online account config.
# Copy this file to `.env` and fill in from Supabase → Project Settings → API.
# Both values are PUBLIC (the anon key is designed to be shipped in clients),
# so it is safe to bake them into the built app. Leaving them blank keeps the
# app fully functional offline with manual license-key entry.

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
